asgiref==3.3.4
beautifulsoup4==4.9.3
Django==3.2.3
django-bootstrap4==3.0.1
django-environ==0.4.5
django-geojson==3.2.0
GDAL==3.0.4
#mod-wsgi==4.8.0
#mod-wsgi-httpd==2.4.46.1
Pillow==8.2.0
psycopg2==2.8.6
py-postgresql==1.2.1
pytz==2021.1
soupsieve==2.2.1
sqlparse==0.4.1
#ufw==0.36
unicodecsv==0.14.1
