{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Neo Unimap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/theme.bootstrap_4.min.css">
    <!--  Bootstrap js -->
    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.tablesorter.min.js"></script>

    <!-- local ico -- 
    <link rel="icon" href="/static/favicon.ico"> -->
    <!-- local css --
    <link rel="stylesheet" href="/static/css/iotview.css"> -->
  </head>
  <body>
    <div class="container">
      <div class="row mx-auto stdblk">
	<div class="bg-secondary text-white text-center p-2", style="width: 100%;">NeoUnimap</div>
      </div>
      {% if messages %}
      <div class="mx-auto text-center stdblk">
	<dl>
          {% for message in messages %}
          <dt>{{message}}</dt>
          {% endfor %}
	</dl>
      </div>
      {% endif %}

      {% block content %}
      {% endblock %}
      
      <hr class="mx-auto m-0" style="width: 100%">
      
      <div class="row mx-auto stdblk">
	<div class="text-right p-1", style="width: 100%;">
	  <a href="/admin" class="btn btn-outline-secondary text-black-50 btn-sm m-1" role="button">管理画面</a>
	</div>
      </div>
    </div>
  </body>
</html>
