{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{{area.Name}}エリア by 奈良ユニバーサル観光マップ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" href="/static/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Bootstrap/jquery js -->
    <!-- 
    <script src="/static/js/bootstrap.min.js"></script> -->
    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/theme.bootstrap_4.min.css">
    -->
    <!-- jquery js -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/jquery.tablesorter.min.js"></script>

    <!-- Leaflet CSS-->
    <link rel="stylesheet" href="/static/css/leaflet.css">

    <!-- Leaflet JS-->
    <script type="text/javascript" src="/static/js/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="/static/js/leaflet/leaflet.ajax.min.js"></script>
    <script type="text/javascript" src="/static/js/leaflet/gpx.js"></script>
    <script type="text/javascript" src="/static/js/leaflet/leaflet-ant-path.js"></script>
    <script type="text/javascript" src="/static/js/leaflet/leaflet-polygon.fillPattern.js"></script>
    
    <!-- local ico -- 
    <link rel="icon" href="/static/favicon.ico"> -->
    <!-- local css -->
    <link rel="stylesheet" href="/static/css/unimap_view.css">
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="m-0 px-1 py-0 navbar navbar-expand-xxl navbar-light fixed-top bg-light">
	<div class="container-fluid">
	  <p class="fs-5 navbar-brand">
	    <a class="px-1 p-0 m-0" href="/"><img src="/static/favicon.ico" height="24px" width="24px" alt="オンライン版 奈良ユニバーサル観光マップ"></a>
	    {{area.Name}}エリア&nbsp;
	  </p>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="mx-2 collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item active">
		<a class="nav-link" aria-current="page" href="{% url 'toppage' %}">トップページ</a></li>
	      {% for area in arealist %}
              <li class="mx-1 nav-item active">
		<a class="nav-link" aria-current="page" href="{% url 'map' %}/{{ area.id }}">{{ area.Name }}</a></li>
	      {% endfor %}
            </ul>
	  </div>
	</div>
      </nav>

      <!-- Fixed navbar -->
      <!-- Fixed navbar 
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
	  </button>
      -->
    </header>
    
    <!-- Begin page content -->
    <div id="map"></div>
  </body>

  <script type="text/javascript" src="/static/js/unimap_license.js"></script>
  <script type="text/javascript" src="/static/js/unimap_style.js"></script>
  <script type="text/javascript" src="/static/js/unimap_popup.js"></script>
  <script type="text/javascript" src="/static/js/unimap_icon.js"></script>
  <script type="text/javascript" src="/static/js/unimap.js"></script>

  <script>
    const mapimg = {};
    mapimg.id = "{{area.id}}" ;
    mapimg.deflat = "{{area.DEF_LAT}}" ;
    mapimg.deflon = "{{area.DEF_LON}}" ;
    mapimg.defzoom= "{{area.DEF_Zoom}}" ;
    mapimg.url = "{{mediaurl}}" + "{{imagemap.ImageMap}}" ;
    mapimg.lat1 = "{{imagemap.LAT1}}" ;
    mapimg.lon1 = "{{imagemap.LON1}}" ;
    mapimg.lat2 = "{{imagemap.LAT2}}" ;
    mapimg.lon2 = "{{imagemap.LON2}}" ;

    /* console.log( "{{image.ImageMap}}" )*/
    drawMap( mapimg )
  </script>
</html>
